* {
  font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .inputForRegistration {
    margin-top: 150px;
    width: 400px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid aquamarine;
    text-align: center;
    font-size: 25px;
  }
  .inputForRegistrationComplete {
    margin-top: 20px;
    width: 400px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid aquamarine;
    text-align: center;
    font-size: 25px;
  }
  
  .registrationButton {
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    padding: 10px 20px; 
    font-weight: 500; /* Bold text */
    border: none;
    border-radius: 50px;
    width: 300px;
    height: auto;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .registrationButton:hover {
    background-color: #0056b3; /* Darker blue on hover */
    cursor: pointer;
    transform: scale(1.05); /* Slight scale-up effect on hover */
  }
  
    .headingForRegistration {
        align-self: center;
        font-weight: 500;
    }