* {
  font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .inputForRegistration {
    margin-top: 150px;
    width: 400px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid aquamarine;
    text-align: center;
    font-size: 25px;
  }
  .inputForRegistrationComplete {
    margin-top: 20px;
    width: 400px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid aquamarine;
    text-align: center;
    font-size: 25px;
  }
  
  .registrationButton {
    background-color: #007bff; 
    color: #fff; 
    padding: 10px; 
    border: none;
    border-radius: 25px;
    width: 300px;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; 
  }
  
  .registrationButton:hover {
    background-color: #0056b3; 
    cursor: pointer;
    transform: scale(1.05);
  }
  
  .headingForRegistration {
      align-self: center;
      font-weight: 500;
  }
  .registrationButton:disabled{
    opacity: 0.5;
    cursor: not-allowed;
  }