/* Default styles for all screen sizes */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .box {
    padding: 20px;
    font-size: 30px;
  }
  
  .linkSpan {
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    background: rgb(198, 216, 216);
  }
  
  .linkSpan:hover {
    transform: scale(1.05);
  }
  
  .link {
    text-decoration: none;
    color: rgb(8, 8, 46);
    margin: 10px;
  }
  
  .link:hover {
    color: blue;
  }
  
  @keyframes gradientFill {
    0%, 100% {
      background-position: 0%;
    }
    50% {
      background-position: 100%;
    }
  }
  
  .NewArrivals {
    text-align: center;
    background: linear-gradient(90deg, #0074e4, #0053a0, #003f7f, #001f3f);
    color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: 200;
    background-size: 200% auto;
    animation: gradientFill 5s linear infinite;
  }
  
  @media screen and (min-width: 577px) and (max-width: 768px) {
    .box {
      padding: 15px;
      font-size: 24px;
    }
  
    .linkSpan {
      padding: 8px;
    }
  
    .NewArrivals {
      font-size: 20px;
      padding: 15px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .box {
      padding: 10px;
      font-size: 18px;
    }
  
    .linkSpan {
      padding: 5px;
      margin: 5px;
    }
  
    .link {
      margin: 5px;
    }
  
    .NewArrivals {
      font-size: 16px;
      padding: 10px;
    }
  
    .container {
      flex-direction: column;
    }
  }
  