.popupContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.message {
    margin-bottom: 20px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.confirmButton {
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.confirmButton:hover {
    background-color: #005fa2;
}

.cancelButton {
    background-color: #ddd;
    color: #333;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.cancelButton:hover {
    background-color: #ccc;
}


@media screen and (max-width: 768px) {
    .popup {
        padding: 15px;
    }
}


@media screen and (max-width: 576px) {
    .popup {
        padding: 10px;
    }

    .message {
        margin-bottom: 10px;
    }

    .buttonContainer {
        flex-direction: column;
    }

    .confirmButton,
    .cancelButton {
        width: 100%;
        margin: 5px 0;
    }
}
