.cartButton {
    background-color: #0074e4;
    color: white;
    border: none;
    border-radius: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    transition: transform 0.3s ease;
}

.cartButton:hover {
    cursor: pointer;
    background-color: #0053a0;
    transform: scale(1.05);
}


@media (max-width: 768px) {
    .cartButton {
        padding: 8px;
    }
}


@media (max-width: 576px) {
    .cartButton {
        padding: 6px;
        font-size: 16px;
    }
}
