.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .HomeGradient {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
  }
  .navLinkContainer {
    display: flex;
    align-items: center;
  }

  .link {
    text-decoration: none; 
    color: inherit; 
    margin-right: 20px; 
    display: flex; 
    align-items: center; 
  }
  .link:hover {
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
  }

  .logoutButton {
    text-decoration: none; 
    color: inherit; 
    margin-right: 20px; 
    display: flex; 
    align-items: center;
    background: none; 
  }
  .logoutButton:hover {
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    background: lightblue;
  }
  

  .drawer{
    overflow: hidden;
  }


  .centeredSearch {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 100%; 
  }
  
  